.calculator{
  border : 1px solid rgb(59, 36, 36);
  width: 300px;
  border-radius: 5px;
  background-color: #02011a;
  height: 340px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  perspective: 23px;
}





