.display  {
  margin: 10px;
  width: 267px;
  font-size: 35px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: rgb(6, 12, 1);
  background-color: rgb(219, 219, 219);
  text-shadow: 2px 2px 2px rgb(153, 255, 0);
}

